---
const { judul } = Astro.props;
---

<div
  class="border-2 mb-5 border-solid border-black p-3 ini-kotaknya [&_img]:max-w-full"
>
  <div class="[&>*]:mb-3 last:[&>*]:mb-0">
    <h2 class="text-3xl font-bold">{judul}</h2>
    <slot />
  </div>
</div>

<style>
  .ini-kotaknya {
    box-shadow: 10px 10px 0 0 #752d61;
  }
</style>
